<p>
<h2>Topics</h2>
    <ul>
        <li>
            <a href="{{ url_for('topics.show_topic',topic = 'topic1') }}" > Topic 1 </a>
        </li>

        <li>
            <a href="{{ url_for('topics.show_topic',topic = 'topic2') }}" > Topic 2 </a>
        </li>

        <li>
            <a href="{{ url_for('topics.show_topic',topic = 'topic3') }}" > Topic 3 </a>
        </li>

    </ul>
</p>

<p>
<h2>Tags</h2>
    <ul>
        <li>
            <a href="{{ url_for('tag.show_tag',tag = 'tag1') }}" > Tag 1 </a>
        </li>

        <li>
            <a href="{{ url_for('tag.show_tag',tag = 'tag2') }}" > Tag 2 </a>
        </li>

        <li>
            <a href="{{ url_for('tag.show_tag',tag = 'tag8') }}" > Tag 8 </a>
        </li>
    </ul>
</p>
