{% extends '_base.html' %}
{% block title %} -  {{ tag }} {% endblock %}

{% block content %}
<br/>

    {% if find_posts_tag|length == 0 %}
        <p>
          NO POST TO SHOW WITH TAG '{{ tag }}'
        </p>
    {% else %}
        <h1> POSTS WITH TAG '{{ tag }}' </h1>
        <br/>
            <p>
            {% for row in find_posts_tag %}
                <a href="{{ url_for('blog_posts.show_post', id = row.id) }}" > {{ row.title }} </a> <br/>
                {{ row.body }} <br/>
                topics: {{ row.topic }} <br/>
                tags: {{ row.tag }} <br/>
                status: {{ row.status }} <br/>
                date:  {{ row.last_edit_date.strftime('%Y-%m-%d') }} <br/>
                author: {{ row.username }} <br/>
                <br/>
                <br/>
            {% endfor %}
           
            </p>
           
    {% endif %}

{% endblock content %}
